services: 
  timescaledb: 
    image: timescale/timescaledb:latest-pg16 
    container_name: iot-timescaledb 
    environment: 
      - POSTGRES_USER=admin 
      - POSTGRES_PASSWORD=password123 
      - POSTGRES_DB=iot_monitoring 
    ports: 
      - "5555:5432" 
    volumes: 
      - ./init-scripts:/docker-entrypoint-initdb.d 
      - timescale_data:/var/lib/postgresql/data 
 
  grafana: 
    image: grafana/grafana:latest 
    container_name: iot-grafana 
    environment: 
      - GF_SECURITY_ADMIN_PASSWORD=admin123 
    ports: 
      - "3000:3000" 
    volumes: 
      - ./grafana-config:/etc/grafana/provisioning 
      - grafana_data:/var/lib/grafana 
    depends_on: 
      - timescaledb 
 
volumes: 
  timescale_data: 
  grafana_data: